<!-- docker-page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Docker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="docker">
<div class="home-container">
    <div class="home-button">
        <a href="/">
            <span class="material-symbols-outlined">Back to Home</span>
        </a>
    </div>
</div>
<h1>Docker</h1>
<div class="definition-container">
    <div class="definition-box">
        <h2>Docker Definition</h2>
        <p>Docker is an open platform for developing, shipping, and running applications. Docker enables you to separate your applications from your infrastructure so you can deliver software quickly. With Docker, you can manage your infrastructure in the same ways you manage your applications. By taking advantage of Docker’s methodologies for shipping, testing, and deploying code quickly, you can significantly reduce the delay between writing code and running it in production.</p>
    </div>
</div>

</body>
</html>