<!-- Robotics-page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Robotics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="Robotics">
<div class="home-container">
    <div class="home-button">
        <a href="/">
            <span class="material-symbols-outlined">Back to Home</span>
        </a>
    </div>
</div>
<h1>Robotics</h1>

<div class="definition-container">
    <div class="definition-box">
        <h2>Robotics Definition</h2>
        <p>Robotics is an interdisciplinary field that integrates mechanical engineering, electrical engineering, computer science, and other disciplines to design, construct, operate, and apply robots.</p>
        <p>Robots themselves are machines that can be programmed to execute tasks, often with a degree of autonomy.</p>
    </div>
</div>

</body>
</html>