<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker container flask app test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Docker container flask app test</h1>

<div class="definition-container">
    <div class="definition-box">
        <a href="/flask">
            <span class="material-symbols-outlined">description</span>
            <h2>Flask</h2>
        </a>
        <p>Lightweight web framework for Python.</p>
    </div>
    <div class="definition-box">
        <a href="/docker">
            <span class="material-symbols-outlined">dock</span>
            <h2>Docker</h2>
        </a>
        <p>Platform for containerizing applications.</p>
    </div>
</div>
</body>
</html>